  .main {
    display: flex;
    justify-self: center;
    z-index: 99;
    margin-top: 60px;   
    overflow: hidden;  
  }

  .top-title {
    background: transparent;
    margin-left: 30%;
    font-size: 16px;
    position: absolute;
    margin-top: 2%;   
  }

  .top-title h3 {
    font-weight: bold;
  }

  .picker {
    position: absolute;
    z-index: 100;
  }


  .cell {
    background-color: #f5f5f5;
    position: relative;
    color: #0C0C0C;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px #E1E1E1;    
    margin: 20px;
    margin-top: 100px;
    font-size: 20px;
    cursor: pointer;  
    transition: transform 1s;
    bottom: 10px;
    height: 45vh;
  }

  .cell-active {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    border-radius: 5px 5px 5px 5px;
    border-bottom: 5px #FFC000 solid;
    height: 56vh;
    margin-top: 60px;
    line-height: 70px;
  }

  .cell > .active {
    margin-top: -5%;
    height: 300px;
  }
  
  .cell img {
    width: 80%;
    height: 80%;
    margin: 20px;
  }

  a, a:active {
    color: #0C0C0C;
    font-size: 10px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 50%;
    margin-left: 25%;
  }

  .buttons div button {    
    background-color: #0C0C0C;
    color: #fff;
  }

  .buttons div button:hover {
      
    background-color: #494747;
  }


  .btn-right {
    color: white;
    margin: 10px;
    justify-self: flex-end;
    line-height: 75px;
    height:25px !important;
    width:25px !important;
  }

  .btn-left {
    color: white;
    width: 10px;
    margin: 10px;
    justify-self: flex-start;
    line-height: 75px;
    height:25px !important;
    width:25px !important;
  }
