<div class="header">
    <img src="..\assets\logo\mtn-logo.png" alt="logo" />    
    <ul>
        <li><a href="#">Store</a></li>
        <li><a href="#">Products & Services</a></li>
        <li><a href="#">Help & Support</a></li>
    </ul>
    <ul>
        <li>
            <div class="nav-item">
                <span>PERSONAL</span>
            </div>
        </li>
        <li>
            <div class="nav-item">
                <mat-icon class="col-white" matTooltip="Refresh form" matTooltipPosition="above">
                    keyboard_arrow_down</mat-icon>
            </div>
        </li>
    </ul>

</div>