<div class="header">
    <img src="..\assets\logo\mtn-logo.png" alt="logo" />    
    <ul>
        <li><a href="#">Store</a></li>
        <li><a href="#">Products & Services</a></li>
        <li><a href="#">Help & Support</a></li>
    </ul>
    <div class="user-nav">
        <div>
            <div class="nav-item nav-item-icon">
                <mat-icon class="col-white" matTooltip="Refresh form" matTooltipPosition="above">
                    search</mat-icon>
            </div>
        </div>
        <div>
            <div class="nav-item">
                
                <span>PERSONAL</span>
                <mat-icon class="col-white" matTooltip="Refresh form" matTooltipPosition="above">
                    keyboard_arrow_down</mat-icon>
            </div>
        </div>
    </div>
</div>