* {
    box-sizing: border-box;
    margin: 0;
  }
  
  html, body { 
    height: 100%;
    min-height: 100%;
    font-family: Roboto,sans-serif;
    background: #F6CDCD;
    overflow: hidden;
  } 

  .container {
    overflow: hidden;
    margin: -10px;
    height: 100%;
  }

  .content {
    margin-left: 30vh;
    margin-right: 30vh;    
    background-color: #eeeeee;
    height: 100vh;
    overflow-y: auto;
  }
  
